README.DEV.md
Makefile
.vscode/
.vscode-test/
**/.stamp
__mocks__/
docs/
coverage/
src/
test/
integrationTest/
out/test
out/integrationTest
out/src
out/pages
node_modules/
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.*.template
yarn-error.log
.yarnrc.yml
.yarn
.prettierignore
jest.integration.config.js
Axivion/
**/tsconfig.tsbuildinfo
bundle.js
pnpm-lock.yaml
icon-converter.json

